img {
  height: 200px;
  background-color: #f0f0f0;
}

.img__list {
  margin: 0;
  padding: 10px 0 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.lazy-load {
  transition: opacity 1s;
  opacity: 0;
}

.lazy-load.loaded {
  opacity: 1;
}
